<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>글 자세히보기</title>
    </head>
    <body>
        <h2>제목 : {{ post.title }}</h2><br>
        <a href="{%url 'mypage:otherpage' user_id=post.user.id%}" style="text-decoration: none; color: black;"><p>작성자 : {{ post.user }}</p></a>
        <p>작성시각 : {{ post.created_at }}</p>
        <p>수정시각 : {{ post.updated_at }}</p>
        <p>개발 스택 : {{ post.techstack }}</p><br>
        <p>조회수 : {{ post.views }}</p><br>
        <form action="{% url 'post:post_likes' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {% if request.user in post.likes.all %}
            <input type="submit" value="좋아요 취소">
            {% else %}
            <input type="submit" value="좋아요">
            {% endif %}
            <p>{{post.likes.all.count}}명이 이 글을 좋아합니다.</p>
        </form>
        </div>
        <p>내용 : {{ post.content }}</p><br><br>
        
        {%if post.githublink%}
        <a href={{post.githublink}} target="_blank"><button>깃허브로 이동</button></a><br><br>
        {%endif%}

        {%for img in images%}
        <img src="{{img.image.url}}" style="width:200px;border:2px solid black">&nbsp;&nbsp;
        {%endfor%}
        <br><br><br>
        <div>
        

        <form method="POST" action={%url 'post:comment' post_id=post.id %}>
            {% csrf_token %}
            <input type="text" name="comments" placeholder="댓글 입력..." >
            <input type="hidden" name="parent_comment_id" value="{{ comment.id }}" >
            <button type="submit" class="btn btn-info">댓글 작성</button>
        </form><br><br>

        <div style="border:2px solid black; width:800px;padding:10px;">
            {% for comment in post.comments.all %} 
                {% if not comment.parent_comment %}
                    <li class="comment" style="list-style-type: none;">{{ comment.comment_content }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;작성자 : {{ comment.user }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;작성시간 : {{ comment.comment_datetime }}<br>
                        <form action="{% url 'post:comment_likes' comment_id=comment.id %}" method="POST">
                            {% csrf_token %}
                            {% if request.user in comment.likes.all %}
                            <input type="submit" value="좋아요 취소">
                            {% else %}
                            <input type="submit" value="좋아요">
                            {% endif %}
                            <p>{{comment.likes.all.count}}명이 이 글을 좋아합니다.</p>
                        </form>
                    </li>
                    <form method="POST" action="{% url 'post:comment' post_id=post.id %}">
                        {%csrf_token%}
                        <input type="hidden" name="parent_comment_id" value="{{ comment.id }}" >
                        <input type="text" name="comments" placeholder="대댓글 입력..." >
                        <button type="submit" class="btn btn-info">답글 작성</button>
                    </form>
                {% endif %} 
                {% for reply in comment.replies.all %} 
                    {% if reply.parent_comment == comment %}
                        <li class="replies" style="list-style-type: none;">&nbsp;&nbsp;↳&nbsp;&nbsp;{{ reply.comment_content }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;작성자 : {{ reply.user }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;작성시간 : {{ reply.comment_datetime }}<br>
                            <form action="{% url 'post:comment_likes' comment_id=reply.id %}" method="POST">
                                {% csrf_token %}
                                {% if request.user in reply.likes.all %}
                                <input type="submit" value="좋아요 취소">
                                {% else %}
                                <input type="submit" value="좋아요">
                                {% endif %}
                                <p>&nbsp;&nbsp;{{reply.likes.all.count}}명이 이 댓글을 좋아합니다.</p>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
            
        </div><br>
        {%if post.user == request.user %}
        <br><hr>
        <a href="{% url 'post:post_update' post_id=post.id %}"><button>글 수정</button></a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'post:post_delete' post_id=post.id %}"><button>글 삭제</button></a><br><hr>
        {%endif%}
        <br>
        <a href="{% url 'post:list' %}"><button>글 목록</button></a>
        <br>
        {% comment %} {% endblock %} {% endcomment %}
        
    </body>
</html>